/* Geral */


body{
    /*margin: 3rem 3.5rem 2.5rem 3.5rem;*/
    margin: 1%;
    font-family: 'Ruluko', sans-serif;
    /*
    font-family: 'Ruluko', sans-serif;
    font-family: 'Ubuntu', sans-serif; */
}

header{
    background:  #bd5d38;
    padding: 2% 1%;
}

hr{
    border-color: #bd5d38;
    border-width: 0.5rem;
}


h1{
    font-size: 250%;
    margin: 0rem ;
}

h2{
    padding: 3% 0% 3% 2%;
    color: #bd5d38;
    font-weight: bold;
}

footer{
    color: gray;
}

section{
    border: 1rem #bd5d38;
}

article{
    padding: 1rem 0rem;
    text-align: center;
}

span{
        color: #bd5d38;
}


/*------------------------------------------------------*/
/* Header */


.foto img{
    width: 10rem;
}

.foto{
    display: flex;
    float: left;
    border: 1rem #bd5d38;
    border-style: solid;

}
.nome{
    display: flex;
    text-align: center;
    color: white;
    font-weight:700;
}

.infoContato{
    display: flex;
    color: white;
}

.infoContato span{
    font-size: 80%;
    color: white;
}

.texto{
    font-size: 80%;
    display: flex;
    text-align: left;
    margin: 3% 20% 0% 0%;
    color: white;
}

/*------------------------------------------------------*/
/* section */

.formacao li{
    padding: 1.5rem 0.5rem 1.5rem 0.5rem;
    margin: 1.5rem 0.5rem 0.5rem 0.5rem;
}

.descFormacao{
    font-size: 1.2rem;
    font-weight: bold;
}

.descSecao{
    font-size: 1.2rem;
    font-weight: bold;
}