/* Geral */
body{
    /*margin: 3rem 3.5rem 2.5rem 3.5rem;*/
    margin: 3% 1% 1% 3%;
}


h1{
    font-size: 250%;
    margin: 0rem ;
}

h2{
    padding: 3% 0% 3% 2%;
}

footer{
    color: gray;
}

article{
    padding: 1rem 0rem;
    text-align: center;
}


/*------------------------------------------------------*/
/* Header */


.foto img{
    width: 10rem;
}

.foto{
    display: flex;
    float: left;
    padding: 0rem 1rem 0rem 0rem;

}
.nome{
    display: flex;
    text-align: center;
}

.infoContato{
    display: flex;
}

.infoContato span{
    font-size: 80%;
    padding: 0rem 20rem 0rem 0rem;
}

.texto{
    font-size: 80%;
    display: flex;
    text-align: left;
    margin: 1.5% 15% 0% 0%;
}

/*------------------------------------------------------*/
/* section */

.formacao li{
    padding: 1.5rem 0.5rem 0.5rem 0.5rem;
    margin: 1.5rem 0.5rem 0.5rem 0.5rem;
}

.descFormacao{
    font-size: 1.2rem;
    font-weight: bold;
}

.descSecao{
    font-size: 1.2rem;
    font-weight: bold;
}